.contacts-content {
  padding-top: 4px;
  width: 100%;
  height: calc(90vh - 4px);
  display: flex;
  flex-direction: row;
}

.contactlist {
  width: 40%;
  height: 100%;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  background-color: white;
  font-size: 1.5rem;
  overflow-y: scroll;
}

.contactinfo {
  width: 60%;
  height: 100%;
  position: relative;
}

.photo {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 3px solid white;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.infocontainer {
  display: flex;
  align-items: center;
  padding-left: 8%;
  margin-bottom: 10px;
}

.name-and-button {
  margin-left: 8%;
}

.name-and-button p {
  color: #29abe2;
  margin-bottom: 0;
}

.name-and-button p:hover {
  cursor: pointer;
}

.name-and-button h2 {
  font-size: 3rem;
  margin: 0;
}

.edit {
  display: flex;
  margin-left: 8%;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.editbutton {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 80px;
}

.editbutton:hover {
  cursor: pointer;
}

.editbutton img {
  margin-right: 15px;
  height: 35px;
  width: 25px;
}

.mail-and-phone {
  margin-left: 8%;
}

.mail {
  color: #007cee;
  cursor: pointer;
}

.smallText {
  font-size: 1rem;
}


.contactbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  gap: 10px;
  width: 180px;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

.contactbutton:hover {
  cursor: pointer;
  background-color: #29abe2;
}

.contactbutton img {
  width: 33px;
  height: 30px;
}

.letters {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.headletter {
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.singleContact {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  cursor: pointer;
}

.contactIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid white;
  height: 42px;
  width: 42px;
  font-size: 1rem;
  margin-right: 20px;
}

.contactIcon>span {
  color: #fff;
}

.contactText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singleContact {
  transition: all 0.5s ease-in-out;
}

.singleContact:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

.displaycontactinfos {
  animation: slide-bl 3s ease 0s 1 normal none;
}

@keyframes slide-bl {
  0% {
    transform: translateX(1500px);
  }

  100% {
    transform: translateX(0);
  }
}

#form-contacts {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  z-index: 2;
}

.backarrow {
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
}

.contacts-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}

.buttons button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

.backgroundpopupcolor {
  background-color: #f6f7f8 !important;
}