@media (max-width: 350px) {
}

.todo {
  width: 280px;
}

@media (max-width: 450px) {
  #subtask::placeholder {
    font-size: 10px;
  }

  #subtask {
    width: 100px;
  }

  .button-container-end {
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    flex-direction: column;
  }

  #urgentButton,
  #mediumButton,
  #lowButton {
    margin-top: 10px;
  }

  .links-container {
    font-size: 10px;
  }

  .row1 {
    width: 250px;
  }

  .box img,
  .box1 img {
    width: 20px;
    height: 20px;
  }

  .tasks {
    width: 80px;
    height: 80px;
  }

  .tasks h2,
  .box-text h3,
  #urgentTasks {
    font-size: 1rem;
  }

  .tasks span,
  .deadline span {
    font-size: 10px;
  }
}

@media (max-width: 575.98px) {
  .tasks h2,
  .box-text h3,
  #urgentTasks {
    font-size: 2rem;
  }
}

@media (max-width: 788.98px) {
  #assigendToContainer {
    height: 100%;
    overflow-y: scroll;
  }

  #editCheckBoxes{
    height: 80%;
    overflow-y: scroll;
  }

  .maincontainer {
    flex-direction: column-reverse;
  }

  .contacts-content {
    height: calc(80vh - 4px);
  }

  .header-container span {
    display: none;
  }

  .header-logo {
    display: unset;
    cursor: pointer;
  }

  .header-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .logo,
  .legal {
    display: none;
  }

  .aside {
    min-height: 0;
    width: 100%;
    position: sticky;
    bottom: 0;
  }

  .links-container {
    flex-direction: row;
    padding: 0px;
    justify-content: space-evenly;
    height: 10vh;
  }

  .links-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .links-container img {
    padding: 10px;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  .wrapper {
    height: 80vh;
    overflow-y: scroll;
  }

  .greetings {
    display: none;
  }

  .content {
    padding: unset;
    width: unset;
  }

  .content {
    padding: unset;
    width: unset;
    justify-content: center;
    align-items: center;
  }

  #taskPopup {
    width: 93vw;
    height: 95vh;
  }

  #taskPopup {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
  }

  .hide-in-mobile {
    display: none;
  }

  .loginform {
    min-width: unset;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .input {
    max-width: 250px;
  }

  .hide-in-desktop {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 270px;
  }

  .helpcontent {
    height: calc(80vh - 4px);
  }

  .hide-nav-in-desktop {
    display: block;
  }
}

@media (max-width: 980px) {
  #addTask-btn {
    display: none;
  }

  .search-icon {
    right: 11px;
  }

  .addTaskBTNmobile {
    display: flex;
  }

  .board {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1027px) {
  .name-and-button h2 {
    font-size: unset;
  }

  .name-and-button h2 {
    font-size: unset;
  }

  .infocontainer {
    margin-top: 10px;
  }

  .headline h1 {
    border: unset;
    padding: unset;
    font-size: 2rem;
  }

  .headline span {
    padding: 0;
  }

  .headline-mobile {
    display: block !important;
  }

  .headline-desktop {
    display: none !important;
  }

  .all-tasks-contnet {
    justify-content: center;
    flex-direction: column;
  }

  .all-tasks-contnet {
    justify-content: center;
  }

  .todo-content {
    width: 80% !important;
  }

  .box-footer :nth-child(2) {
    margin-right: 100px;
  }

  .addtask-content {
    flex-direction: column;
    align-items: center;
  }

  .leftside-content div + input,
  .rightside-content div + input {
    width: 100%;
  }

  .leftside-content,
  .rightside-content {
    padding-left: 8%;
    padding-right: 8%;
  }

  .headline-addtask {
    justify-content: center;
    padding-left: 0;
  }

  .middleline {
    display: none;
  }

  #todoOpenContent,
  #todoInProgressContent,
  #todoAwaitingFeedbackContent,
  #todoDoneContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .greetings span {
    font-size: 2rem;
  }

  .greetings h2 {
    font-size: unset;
  }

  .rightside-content {
    height: unset !important;
  }

  #form-board,
  #form-contacts {
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
  }

  .button-container-end {
    margin: 10px 0 !important;
    padding: 10px;
  }
}

@media (max-width: 1350px) {
  .tasks {
    padding: unset;
  }
}

@media (max-width: 1680px) {
  .todo-content {
    width: unset;
  }
}
