<img onclick="forwardingToSummary()" src="./assets/img/logo.png" class="logo" alt="logo" />

<div class="links">
  <div class="links-container">
    <a id="navSummary" href="./summary.html"><img src="assets/img/summary-icon.png" alt="summary" /><span id="itemOne">Summary</span></a>
    <a id="navBoard" href="./board.html"><img src="assets/img/dashboard-icon.png" alt="board" /><span>Board</span></a>
    <a id="navAddtask" href="./addtask.html"><img src="assets/img/addtask-icon.png" alt="add_task" /><span>Add Task</span></a>
    <a id="navContacts" href="./contacts.html"><img src="assets/img/contacts-icon.png" alt="contacts" /><span>Contacts</span></a>
  </div>
</div>
<div class="container legal">
  <a id="legalItem" href="./legal.html"><img src="assets/img/legal-icon.png" alt="legal advice" /><span>Legal notice</span></a>
</div>
