<img onclick="forwardingToSummary()" src="./assets/img/logo.png" class="logo" alt="logo" />

<div class="links">
  <div class="links-container">
    <a href="./summary.html"><img src="./assets/img/summary.png" alt="summary" /><span>Summary</span></a>
    <a href="./board.html"><img src="./assets/img/board.png" alt="board" /><span>Board</span></a>
    <a href="./addtask.html"><img src="./assets/img/addtask.png" alt="add_task" /><span>Add Task</span></a>
    <a href="./contacts.html"><img src="./assets/img/contacts.png" alt="contacts" /><span>Contacts</span></a>
  </div>
</div>
<div class="container legal">
  <a href="./legal.html"><img src="./assets/img/legal.png" alt="legal advice" /><span>Legal notice</span></a>
</div>
